doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(href ="../sass/2.sass",rel="stylesheet",type="text/css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        title halo

    body(onresize="re()")

        p(id="t1") SIGN IN
        p(id="t2") Use your Accout
        form(id="form",method="POST",action="/login")
            input(class="input",type="text",id="user",name="username",placeholder="Username")
            input(class="input",type="password",id="psd",name="password",placeholder="Password")
            input(class="output",type="submit",value="DONE",onclick="log(); return false;")
        div(id="r")
        input(type ="image",src="../../static/img/1.png",onclick="history.back()",id="i01")