
@font-face {
  font-family: 'HelveticaNeue';
  src: url('~assets/font/HelveticaNeueRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Book';
  src: url('~assets/font/AvenirLTStd-Book.otf');
}

* {
  font-family: "segoe ui","microsoft jhenghei","microsoft mhei",stheititc,sans-serif;
}
