extends templates/generic.pug

block content

  .container
    h1 My children
    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#childModal')
      | ➕ add
    .row      
      each child in children
        .col-12.col-md-6.my-1
          a.text-decoration-none.text-dark.card(href=`/child/${child.id}`)
            .row.no-gutters
              .col-4
                img.img-cover(src='/static/img/2.png' alt='placeholder')
              .col-8
                .card-body
                  h5.card-title= child.name
                  p.card-text
                    | Last online: yyyy/mm/dd

    #childModal.modal.fade(tabindex='-1' role='dialog')
      .modal-dialog(role='document')
        form.modal-content(action='/add_child' method='post')
          .modal-header
            h5.modal-title Add child
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            .form-group
              label.col-form-label(for='name') Name
              input#name.form-control( name='name' required)
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
            button.btn.btn-primary(type='submit') Add
